<html xmlns:th="http://www.thymeleaf.org" >
<div  th:fragment="header">
	<meta charset="utf-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="" name="description"/>
	<meta content="" name="keywords"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link rel="stylesheet" th:href="@{/js/plugins/bootstrap/3.3.5/css/bootstrap.css}"  media="screen">
	<link rel="stylesheet" th:href="@{/js/plugins/bootstrap/bs-table-1.8.1/bootstrap-table.css}"type="text/css" />
	<link rel="stylesheet" th:href="@{/js/plugins/bootstrap/bs-select/css/bootstrap-select.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/js/plugins/bootstrap/jquery-confirm/jquery-confirm.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/js/plugins/select2/select2.min.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/12583.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/base.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
</div>