<html xmlns:th="http://www.thymeleaf.org" >
<div  th:fragment="jsfooter">
	<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.formatDate.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap/jquery-confirm/jquery-confirm.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/jquery-utils.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap/3.3.5/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.form.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/My97DatePicker/WdatePicker.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/select2/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/json/json2.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/autoWsize.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/jquery-namespace.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap/bs-table-1.8.1/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap/bs-table-1.8.1/locale/bootstrap-table-zh-CN.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap/bs-select/bootstrap-select.js}"></script>

	<script th:inline="javascript">
		var path = [[${#httpServletRequest.getContextPath()}]];
	</script>
</div>
