<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index">
<div th:fragment="content">
    <head>
        <title>字典列表</title>
        <script th:inline="javascript">
            var typeId = [[${typeId}]];
        </script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="panel panel-ex">
            <div class="panel-heading">编辑字典
                <div class="func-btn-list">
                    <span class="table_menu_w right">
                         <a href="#" data-toggle="modal" data-target="#attachmentModal" onclick="$('#dictForm').clearForm()">新增</a>
                         <a href="javascript:void(0);" onclick="dict.value.edit()">编辑</a>
                         <a id="delBtn" href="javascript:void(0);" onclick="dict.value.delDict()">删除</a>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div id="tabdiv" class="base-table-wrap">
                    <table id="dictDataTable" class="base-table table-striped"></table>
                </div>
            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="attachmentModal" tabindex="-1"
             data-backdrop='static' role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title">新增</h5>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="dictForm">
                            <div class="form-group">
                                <input type="hidden" name="id"/>
                                <label class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input class="form-control" id="name" name="name" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">编码:</label>
                                <div class="col-md-10">
                                    <input class="form-control" id="code" name="code" required/>
                                </div>
                            </div>
                            <div class="btn-list">
                                <a class="btn btn-y" onclick="dict.value.add()">保存</a>
                                <a class="btn btn-n mrl10" id='closeBtn' data-dismiss="modal">取消</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" th:src="@{/modules/dict/dictData.js}"></script>
</div>
</html>