<html xmlns:th="http://www.thymeleaf.org">
<ul class="list-unstyled sidebar-nav1">
    <li>
        <a class="mu collapsed" data-toggle="collapse" href="#ul1">
            <span class="pull-right">
                <i class="icon-chevron-down" id="ul1_i"></i>
            </span>
            <i class="ico-menu mrr5"></i>工单查询
        </a>
        <!--三级菜单-->
        <ul id="ul1" class="list-unstyled sidebar-nav3 collapse">
            <li><a class="mu3" href="/biz/list/myWork">我的待办</a></li>
            <li><a class="mu3" href="/biz/list/myTemp">工单草稿</a></li>
            <li><a class="mu3" href="/biz/list/myCreate">已创建工单</a></li>
            <li><a class="mu3" href="/biz/list/myHandle">已处理工单</a></li>
            <li><a class="mu3" href="/biz/list/all">全部工单</a></li>
        </ul>
    </li>
    <li>
        <a class="mu collapsed" data-toggle="collapse" href="#ul2">
            <span class="pull-right">
                <i class="icon-chevron-down" id="ul_2"></i>
            </span>
            <i class="ico-menu mrr5"></i>运维流程创建
        </a>
        <ul id="ul2" class="list-unstyled sidebar-nav3 collapse">
            <li>
                <a class="mu3" href="/biz/create/eventManagement"><i class="ico-dot mrr5"></i>事件管理</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="mu collapsed" data-toggle="collapse" href="#ul3">
            <span class="pull-right">
                <i class="icon-chevron-down" id="ul3_i"></i>
            </span>
            <i class="ico-menu mrr5"></i>运维流程管理
        </a>
        <ul id="ul3" class="list-unstyled sidebar-nav3 collapse">
            <!--<li><a class="mu3" href="/model/list"><i class="ico-dot mrr5"></i>模型列表</a></li>-->
            <li><a class="mu3" href="/process/list"><i class="ico-dot mrr5"></i>流程列表</a></li>
        </ul>
    </li>
    <li>
        <a class="mu active" data-toggle="collapse" href="#ul4">
            <span class="pull-right">
                <i class="icon-chevron-down" id="ul4_i"></i>
            </span>
            <i class="ico-menu mrr5"></i>运维流程配置
        </a>
        <ul id="ul4" class="list-unstyled sidebar-nav3 collapse">
            <li class="attr">
                <a class="mu3" href="/dictType/index"><i class="ico-dot mrr5"></i>字典管理</a>
            </li>
            <li class="attr">
                <a class="mu3" href="/bizTemplateFile/index"><i class="ico-dot mrr5"></i>模版管理</a>
            </li>
        </ul>
    </li>
</ul>
<script type="text/javascript" th:src="@{/modules/index/menu_index.js}"></script>
</html>

