<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index">
<div th:fragment="content">
    <head>
        <title>参数设置</title>
        <script type="text/javascript">
            var processId = '[[${processDefinitionId}]]';
            var version = '[[${version}]]';
            var taskId = '[[${taskId}]]';
            var updateId = '[[${vId}]]';
        </script>
    </head>

    <body>
    <div class="container-fluid">
        <!-- 新增/编辑表单  -->
        <div class="panel panel-box">
            <div class="panel-heading">
                添加/编辑流程参数
            </div>
            <div class="panel-body">
                <div class="mr5">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="ud_name" class="col-xs-4 control-label">属性名称：</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ud_name" placeholder="属性名称"/>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="ud_alias" class="col-xs-4 control-label">属性别名：</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ud_alias" placeholder="属性别名"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="ud_nameOrder" class="col-xs-4 control-label">属性排序：</label>
                                <div class="col-xs-7">
                                    <input type="number" class="form-control" id="ud_nameOrder" placeholder="属性排序"/>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="ud_viewComponent" class="col-xs-4 control-label">视图组件类型：</label>
                                <div class="col-xs-7">
                                    <select class="form-control  selectpicker" data-live-search="true"
                                            name="ud_viewComponent" id="ud_viewComponent" onchange="biz.variable.edit.getViewParams()">
                                        <option value="TEXT">文本</option>
                                        <option value="TEXTAREA">大文本</option>
                                        <option value="NUMBER">数字</option>
                                        <option value="MOBILE">手机号</option>
                                        <option value="EMAIL">邮箱</option>
                                        <option value="DATE">日期</option>
                                        <option value="DATETIME">日期时间</option>
                                        <option value="REQUIREDFILE">必传附件</option>
                                        <option value="COMBOBOX">下拉组件</option>
                                        <option value="DICTCOMBOBOX">数据字典下拉</option>
                                        <option value="TREATMENT">处理方式</option>
                                        <option value="URGENCYLEVEL">紧急程度</option>
                                        <option value="BOOLEAN">是否</option>
                                        <option value="HIDDEN">隐藏</option>
                                        <option value="REMARK">备注</option>
                                        <option value="GROUPHEAD">分组头部</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="ud_groupName" class="col-xs-4 control-label">属性分组：</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ud_groupName" placeholder="属性分组"/>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="ud_groupOrder" class="col-xs-4 control-label">属性分组排序：</label>
                                <div class="col-xs-7">
                                    <input type="number" class="form-control" id="ud_groupOrder" placeholder="属性分组排序"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="ud_componentArgs" id='ud_componentArgsLabel' class="col-xs-4 control-label">视图参数：</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ud_componentArgs" placeholder="视图参数"/>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="col-xs-4 control-label"></label>
                                <div class="col-xs-7">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="ud_required" id="ud_required"/>必填
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="ud_processVariable" id="ud_processVariable"/>流程变量
                                    </label>
                                </div>
                            </div>
                        </div>
                        <span id="helpBlock" class="help-block" style="margin-left: 100px;">下拉组件视图参数使用逗号隔开，如A,B,C。</span>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="ud_variableGroup" class="col-xs-4 control-label">参数显示分组：</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ud_variableGroup" placeholder="参数显示分组"/>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group" style="display: none">
                                <label for="ud_viewParams" class="col-xs-4 control-label"></label>
                                <div class="col-xs-7">
                                    <select class="form-control  selectpicker" data-live-search="true" name="viewParams"id="ud_viewParams">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="ud_refVariable" class="col-xs-4 control-label">联动父节点：</label>
                                <div class="col-xs-7">
                                    <select class="form-control" name="ud_refVariable" id="ud_refVariable"> </select>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="ud_refParam" class="col-xs-4 control-label">对应联动属性：</label>
                                <div class="col-xs-7">
                                    <select class="form-control" name="ud_refParam" id="ud_refParam"></select>
                                </div>
                            </div>
                        </div>
                        <div class="btn-list">
                            <a id="saveOrUpdateBtn" class="btn btn-y">保存</a>
                            <a id="cancleBtn" class="btn btn-n mrl10">取消</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/modules/process/variable_edit.js}"></script>
    </body>
</div>
</html>

