<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index">
<div th:fragment="content">
    <head>
        <title>参数设置</title>
        <script th:inline="javascript">
            var processId = [[${processDefinitionId}]];
            var version = [[${version}]];
            var taskId = [[${taskId}]];
        </script>
        <script type="text/javascript" th:src="@{/modules/process/variable_list.js}"></script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="panel panel-ex">
            <div class="panel-heading"> 流程参数管理
                <div class="func-btn-list">
                    <span class="table_menu_w right">
                        <a href="javascript:biz.variable.list.addData();">新增</a>
                        <a href="javascript:biz.variable.list.editData();">修改</a>
                        <a href="javascript:biz.variable.list.delData();">删除</a>
                        <a href="javascript:biz.variable.list.refreshTable();">刷新</a>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="base-table-wrap">
                    <table id="variable-table" class="base-table table-striped"></table>
                </div>
            </div>
        </div>
    </div>
    </body>
</div>
</html>

