<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index">
<div th:fragment="content">
    <head>
        <title>工单查询</title>
        <script th:inline="javascript">
            var statusList = [[${statusList }]];
            var processList = [[${processList }]];
            var action = [[${action}]];
        </script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="panel panel-box">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <div class="mr5">
                    <form class="form-horizontal" id="biz-query-form">
                        <div class="col-xs-12 btn-list">
                            <a id="queryBtn" class="btn btn-y">查询</a>
                            <button type="reset" class="btn btn-n mrl10" onclick="biz.query.resetClick()">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-ex" id='table'>
            <div class="panel-body">
                <div class="base-table-wrap">
                    <table id="biz-table" class="table table-hover base-table table-striped"></table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/modules/biz/biz_list.js}"></script>
    <script type="text/javascript" th:src="@{/modules/biz/biz_turn_task.js}"></script>
    </body>
</div>
</html>