<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index">
<div th:fragment="content">
    <head>
        <title>发起工单</title>
        <style>
            select {
                height: 28px !important;
            }
        </style>
    </head>
    <body>
    <div class="container-fluid">
        <form id="form" method="post" enctype="multipart/form-data">
            <input type="hidden" id="base_tempID" name="base.tempID"/>
            <input type="hidden" name="startProc"/>
            <input type="hidden" name="base.handleName" value="发起工单"/>
            <input type="hidden" name="base.buttonId"/>
            <input type="hidden" name="base.handleResult"/>
            <div class="t_content">
                <div class="wb_msg">
                    <div class="wb_msg_all">
                        <div class="wb_tit">
                            <i id="msgtitle">报障人信息</i>
                        </div>
                        <table id="bjrxx" cellpadding="0" cellspacing="0" class="infor_table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/modules/biz/biz_edit_form.js}"></script>
    <script type="text/javascript" th:src="@{/modules/biz/biz_edit_paramfunc.js}"></script>
    <script type="text/javascript" th:src="@{/modules/biz/biz_show_table.js}"></script>
    <script type="text/javascript" th:src="@{/modules/biz/biz_create.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var key = [[${key}]];
        var bizId = [[${bizId}]];
        var createUser = [[${createUser}]];
        var id = '';

        $(document).ready(function () {
                $(".js-example-basic-single").select2();
            }
        )
    </script>
    </body>
</div>